body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.root {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
    width: 300px;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #333;
}

input[type="text"] {
    width: 276px;  /* 输入框的宽度 */
    padding: 12px;  /* 输入框的内边距 */
    border: 1px solid #ccc;  /* 输入框边框 */
    border-radius: 5px;  /* 输入框圆角 */
    transition: border-color 0.3s, box-shadow 0.3s;  /* 交互效果 */
    outline: none;
}
input[type="text"]:hover {
    border-color: #84b997;  /* 聚焦时边框颜色 */
    box-shadow: 0 0 5px rgba(132, 185, 151, 0.5);  /* 聚焦时阴影效果 */
}
input[type="text"]:focus {
    border-color: #84b997;  /* 聚焦时边框颜色 */
    box-shadow: 0 0 5px rgba(132, 185, 151, 0.5);  /* 聚焦时阴影效果 */
}

a {
    display: block;
    margin: 10px 0;
    padding: 12px;
    text-decoration: none;
    color: #000;
    background-color: #daf7e3;  /* 链接背景颜色 */
    border-radius: 5px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #84b997;  /* 链接悬停时背景颜色 */
}

.selected {
    background-color: #ffe8e7; /* 高亮颜色 */
}

@media (max-width: 400px) {
    .root {
        width: 90%;  /* 响应式宽度 */
    }
}